.form {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: #ccc 1px solid;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.form h2 {
  font-size: 1.2rem;
  color: #000;
}

.form h3 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 20px;
}

.form input {
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signUpLink {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.signUpLink a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  text-decoration: underline;
}
.form .error {
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
