.MainPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 35px 70px;
}
@media (max-width: 768px) {
  .MainPage {
    width: 90%;
    height: 100%;
    flex-direction: column;
    margin: 20px;
  }
}
